<!--
  Generated template for the CulvertPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <ion-title>Upload Debris Jams Image</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngIf="!Image">
        &nbsp;&nbsp;<button id="picbutton" ion-button (click)="takePicture()" clear> <ion-icon name="camera" ></ion-icon>&nbsp;&nbsp;Camera</button>
        <br><br>
        <div id="upload_button">
            <label>
        <ion-label id="fileChoose" color="primary">
          <input class="ionic-item" type="file" accept="image/*" (change)="changeListener($event)">
         <ion-icon name="albums"></ion-icon>
          <span class="btn btn-primary">&nbsp;Explore Image</span>
        </ion-label>
      </label>
        </div>
    </div>

    <div *ngIf="Image">
        <div>
            <br><img class="image-client" [src]="Image" *ngIf="Image" height="200" width="200" />
        </div>
        <ion-list>
            <!--<ion-card>
                <ion-item>
                    <ion-label> &nbsp; Uploader : {{couverinfo.Uploader}}</ion-label>
                </ion-item>
            </ion-card>-->
            <div *ngIf="!djinfo.Lat||!djinfo.Lon">
                <button id="posbutton" ion-button full (click)="getPos()" outline> <ion-icon name="locate" ></ion-icon>&nbsp;&nbsp;Locate</button>
            </div>
            <ion-card *ngIf="djinfo.Lat">
                <ion-item>
                    <ion-label> &nbsp; Latitude: {{djinfo.Lat}}</ion-label>
                </ion-item>
            </ion-card>
            <ion-card *ngIf="djinfo.Lon">
                <ion-item>
                    <ion-label> &nbsp; longitude: {{djinfo.Lon}}</ion-label>
                </ion-item>
            </ion-card>
            <ion-card *ngIf="djinfo.Orientation">
                <ion-item>
                    <ion-label> &nbsp; Direction: {{djinfo.Orientation}}</ion-label>
                </ion-item>
            </ion-card>
            <ion-card *ngIf="djinfo.Phototime">
                <ion-item>
                    <ion-label> &nbsp; Photoed Time : {{djinfo.Phototime}}</ion-label>
                </ion-item>
            </ion-card>

            <!--<ion-card>
                <ion-item>
                    <ion-input type="text" [(ngModel)]="couverinfo.Description" placeholder="Add description..." clearOnEdit></ion-input>
                </ion-item>
            </ion-card>-->
            <!--<ion-item *ngIf="!couverinfo.Phototime">
                <ion-label floating> &nbsp; Click here to select photoed Time</ion-label>
                <ion-datetime displayFormat="YYYY-MM-DD HH:mm" [(ngModel)]="couverinfo.Phototime"></ion-datetime>
            </ion-item>-->
        </ion-list>

        <!--<button ion-button (click)="uploadCouvert()" clear>Upload Information</button>
        <button ion-button (click)="cancelUpload()" clear>Cancel</button>-->
    </div>




    <div *ngIf="Image">

        <div *ngIf="djinfo.Lat">
            <ion-card>
                <ion-item>
                    <ion-label> &nbsp; Uploader : {{djinfo.Uploader}}</ion-label>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item>
                    <ion-input type="text" [(ngModel)]="djinfo.Description" placeholder="Add description..." clearOnEdit></ion-input>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item>
                    <ion-label>Direction:</ion-label>
                    <ion-select [(ngModel)]="djinfo.Direction" placeholder="Chose a Direction">
                        <ion-option value="North">North</ion-option>
                        <ion-option value="NorthEast">NorthEast</ion-option>
                        <ion-option value="East">East</ion-option>
                        <ion-option value="SouthEast">SouthEast</ion-option>
                        <ion-option value="South">South</ion-option>
                        <ion-option value="SouthWest">SouthWest</ion-option>
                        <ion-option value="West">West</ion-option>
                        <ion-option value="NorthWest">NorthWest</ion-option>
                    </ion-select>
                </ion-item>
            </ion-card>
            <button ion-button (click)="upload()" clear>Upload Information</button>
        </div>
        <div *ngIf="!djinfo.Lat">
            <div *ngIf="!IfCamera">
                <ion-card>
                    <ion-item>
                        <label>This photo does not have location information, it cannot be uploaded</label>
                    </ion-item>
                </ion-card>
            </div>
            <div *ngIf="IfCamera">
                <ion-card>
                    <ion-item>
                        <label>Please Click the button to locate</label>
                    </ion-item>
                </ion-card>
            </div>
        </div>
        <button ion-button (click)="cancelUpload()" clear>Cancel</button>
    </div>
</ion-content>